*{
    font-family: 'Montserrat', sans-serif;
}

.user-book:hover > .book-image{

    opacity: 0.6;
}

.book-image{
    margin:0 auto;
    display: block;
}

.book-title{
    text-align: center;
    background-color: #1873D3;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
}